<!doctype html>
<html>
<head>
	<title>HTML Editor - Full Version</title>
</head>
<body>
<div class="max-width: 50vw" style="background:#eee;border:1px solid #ccc;padding:5px 10px;">
<h1 style="background: rgb(238, 238, 238); border: 1px solid rgb(204, 204, 204); padding: 5px 10px;"><span style="font-family:verdana,geneva,sans-serif;">Astrum | 003-5 |</span></h1>
</div>

<h3><span style="font-family:verdana,geneva,sans-serif;">&nbsp;2100231550000001879234010008760150080014120&lt;%= operation.value%&gt;</span></h3>

<h4><span style="font-family:verdana,geneva,sans-serif;">Essa &eacute; uma simula&ccedil;&atilde;o de boleto&nbsp;</span><br />
&nbsp;</h4>

<p><span style="font-family:verdana,geneva,sans-serif;">Nome: &lt;%= operation.name%&gt; Sobrenome:&nbsp;&lt;%= operation.lastname%&gt;<br />
Emai:&nbsp;&lt;%= operation.email%&gt; Conta:&nbsp;&lt;%= operation.walletId%&gt;</span></p>

<p>&nbsp;</p>

<h2><span style="font-family:verdana,geneva,sans-serif;">Valor:&nbsp;&lt;%= operation.value%&gt;</span><br />
&nbsp;</h2>

<p><span style="font-family:verdana,geneva,sans-serif;">Linha digit&aacute;vel</span></p>

<p><span style="font-family:verdana,geneva,sans-serif;">2100231550000001879234010008760150080014120&lt;%= operation.value%&gt;</span></p>

<h6><span style="font-family:verdana,geneva,sans-serif;">Valor pode levar at&eacute; 48 horas para constar na conta ap&oacute;s o pagamento</span></h6>
</body>
</html>
